
    <!-- First Section - Profile photo and name -->
    <section class="container-fluid p-5 my-5 text-center" id="first">
        <div class="container">

            <!-- Artist Image - profile pic -->
            <img class=" img-fluid w-100 mt-5 rounded " style="max-width: 400px;" src="assets/profile photo.jpeg" alt="">

            <!-- Portfolio -->
            <h1 class="mb-2" style="font-size: 50px; margin-top: -5rem; letter-spacing: 2px;">HAMID BAWADI</h1>

            <p class="mb-5 my-5 display-6">"Creative and Versatile Visual Storyteller"</p>

        </div>
    </section>

    <!-- Second section - About section -->
    <section class="bg-dark text-light p-5 pt-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div class="p-2">
                    <h2 > A Little bit<span style="color: #3471E9; font-size: 40px;"> ABOUT ME:</span></h2>
                    <p class="lead my-4">
                        <span class="display-6" style="color: #3471E9;">
                            A journey through the lens -
                        </span>
                        <br><br>
                        Behind every captivating photograph lies a skilled artist with a unique perspective on the
                        world. And in the realm of visual storytelling, few possess the ability to weave tales as
                        mesmerizingly as our featured photographer. With an innate passion for capturing life's fleeting
                        moments, their lens becomes a portal to emotions, experiences, and the sheer beauty that
                        surrounds us.
                    </p>
                    <p class="my-3 display-6">
                        <span class="display-5" style="color: #3471E9;">   Choose Excellence!! </span><br> Hire me for outstanding<span class="display-5" style="color: #3471E9;"> Results and Professionalism
                        </span></p>
                    <button class="btn btn-lg my-3 bg-black shadow" style="color: #3471E9;" routerLink="contact" data-bs-toggle="modal" data-bs-target="#enroll">Contact me</button>
                </div>
                <img class="img-fluid rounded shadow d-none d-sm-block ms-5" src="assets/Hamid photo.jpg" alt="">
            </div>
        </div>
    </section>