<section class="p-5 justify-content-center">

    <div class="row p-1 ">

        <!-- Image 1 -->
        <div class="card col-lg-4 mx-3 col-md-12 col-sm-12 p-2 shadow rounded bg-white">
            <img src="./../../../assets/Aurthur.jpg" class="shadow" style="width: 100%; height: 100%;">
        </div>

        <!-- Image 2 -->
        <div class="card col-lg-7 m-3  col-md-12 col-sm-12 p-2 shadow rounded bg-white">
            <img src="./../../../assets/Lady.jpg" style="width: 100%; height: 100%;" alt="">

        </div>

        <!-- Image 3 -->
        <div class="card col-lg-7 m-3 col-md-12 col-sm-12 p-2 shadow rounded bg-white">
            <img src="./../../../assets/toronto.jpg" style="width: 100%; height: 100%; " alt="">

        </div>

        <!-- Image 4 -->
        <div class="card col-lg-4 mx-3 col-md-12 col-sm-12 p-2 shadow rounded bg-white">
            <img src="./../../../assets/Eagle.jpg" style="width: 100%; height: 100%; " alt="">
        </div>

         <!-- Image 5 -->
         <div class="card col-lg-4 mx-3 col-md-12 col-sm-12 p-2 shadow rounded bg-white">
            <img src="./../../../assets/california paradise.JPG" style="width: 100%; height: 100%; " alt="">

        </div>

        <!-- Image 6 -->
        <div class="card col-lg-7 m-3 col-md-12 col-sm-12 p-2 shadow rounded bg-white">
            <img src="./../../../assets/juice 2.jpg" style="width: 100%; height: 100%; " alt="">
        </div>

        <!-- Image 7 -->
        <div class="card col-lg-5 m-3 col-md-12 col-sm-12 p-2 shadow rounded bg-white">
            <img src="./../../../assets/dodge challanger.png" style="width: 100%;  height: 100%;" alt="">
        </div>

        <!-- Image 8 -->
        <div class="card col-lg-6 m-3 col-md-12 col-sm-12 p-2 shadow rounded bg-white">
            <img src="./../../../assets/Mercedes.jpg" style="width: 100%; height: 100%; " alt="">
        </div>

        <!-- Image 9 -->
        <div class="card col-lg-7 m-3 col-md-12 col-sm-12 p-2 shadow rounded bg-white">
            <img src="./../../../assets/Moon.JPG" style="width: 100%; height: 100%; " alt="">
        </div>

          <!-- Image 10 -->
          <div class="card col-lg-4 m-3 col-md-12 col-sm-12 p-2 shadow rounded bg-white">
            <img src="./../../../assets/Landscape.jpg" style="width: 100%; height: 100%; " alt="">
        </div>
       
    </div>
</section>