

<section class="container-fluid p-5 text-center" id="first">
    <div class="container">

        <!-- Artist Image - profile pic -->
        <img class=" img-fluid w-100 mt-5 rounded " style="max-width: 800px;" src="./../../../assets/toronto.jpg" alt="">

        <!-- Portfolio -->
        <div class=" text-white p-5">
            <h2 class="text-center mb-4 display-6">Contact Info:</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Main Location:</span> London, ON
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Business Phone:</span> +1 (647) 787-2196
              </li>
              <li class="list-group-item">
                <span class="fw-bold text-wrap">Business email:</span> admin@kenanipix.com
              </li>
            </ul>
          </div>
    </div>
</section>
